.container{
  margin: auto;
  max-width: 290px;
  height: 500px;
  background-color: black;
  border-radius: 30px;
}

.magic-btn{
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  border-radius: 20px;
}

.zero-btn{
  margin: auto;
  background-color: white;
  padding: 100px 100px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10px 35px;
  text-align: center;
  border-radius: 20px;
}

.reset-btn{
  margin-top: 10px;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border-radius: 20px;
}

.btn{
  background-color: white;
}

.display{
  padding-top: 25px;
  padding-bottom:px;
  margin-right: 20px;
  color: white;
  text-align: right
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 15px;
  margin-right: 15px;
}

.flex-container > button {
  background-color: #f1f1f1;
  width: 100px;
  margin:5px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  border-radius: 50%;
}
